@import './variables.css';
@import './layout.css';
@import './responsive.css';

/* Tambahin Reset Dasar biar rapi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}
